.fixed_body {
  position: fixed;
}

.tantable {
  min-height: 400px;
  font-family: monospace;
}

.tantable table tbody td {
  font-size: 9pt;
}

.taninput {
  margin: 6px;
}

.protocolselect {
  font-size: 10pt;
  font-family: monospace;
  color: black;
  background-color: #ddd;
  padding: 3px;
  margin: 4px;
  border-radius: 3px;
}

;.cursor-pointer {
;  line-height: 30px;
;}

.tdcollapsed {
  max-height: 200px;
  overflow: hidden;
}

nav {
  height: 50px;
}

button.react-datetime-picker__button {
  padding: 0px;
}

.headerdiv {
  line-height: 30px; 
}

.datepickerWrapper {
  margin-top: 5px;
}

div.p-5 {
  padding: 0.5rem;
}
